body {
    background-color: azure;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 0.5rem;
    margin: 2rem;
}

.cell {
    padding: 1rem;
    background-color: antiquewhite;
    font-size: larger;
    font-weight: 800;
    border: 4px outset lightgoldenrodyellow;
    cursor: pointer;
}
